<div class="container">
    <h2>Users</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of members">
                <td>{{member.id}}</td>
                <td>{{member.name}}</td>
                <td><button class="btn btn-secondary" (click)="onClickDetail(member.id)">Details</button></td>
            </tr>
        </tbody>
    </table>
</div>
